/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-light: hsla(208, 100%, 90%, 1);
    --color-dark: hsla(208, 70%, 20%, 1);

    --color-front: var(--color-dark);
    --color-back: var(--color-light);

    --color-night-front: #CCE7FF;
    --color-night-back: #0F3557;
    /* opacity */

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-back);
    font-family:"Work Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

/* ::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
} */

::selection {
    background: var(--color-front);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: auto; /*zorgte ervoor dat daylight bovenaan komt*/
}

/*
Component: Sun
---
The sun
*/

.c-sun {
    max-width: 22px;
    max-height: 22px;
}

.c-logo .c-sun {
    
}

/*
Component: App
---
Main app wrapper
*/
.c-app {
    /*1 rem = body fontsize = 16px*/
    padding: 2rem 2rem .5rem; /*2rem = 32px*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    max-width: 25rem; /*400px = 25rem*/
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
}

.c-app__summary{
    font-size: 1.75rem; /*28px = 1.75rem*/
    line-height: 2.5rem; /*40px = 2.5rem*/
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}


/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon {
    margin-bottom: 1rem;
}

.c-horizon__sky-wrapper{
    position: relative;
    height: 200px;
    overflow: hidden;
    padding-top: 22px;
    padding-right: 40px;
}

.c-horizon__sky{
    position: relative;
    height: 100%;
}

.c-horizon__sun{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    transform: translateY(22px);
}

/*****************************************************************************/
.c-horizon__line{
    display: flex;
    justify-content: space-between;
    border-top: solid .5px;
    padding: 1px;
}

.c-horizon__time{
    font-size: .75rem;
    line-height: .875rem;
}

.c-horizon__sun::before{
    content: attr(data-time);
    font-size: .75rem;
    line-height: .875rem;
    margin-bottom: .5rem;
    display: block;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

/*alleen voor tekst*/
.u-muted{
    opacity: .6;
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */
.is-night{
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-night-back);
    fill: var(--color-night-front);
    font-family:"Work Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-night-front);
}


/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
